<a href="https://colab.research.google.com/github/MaryZhestkova/Examples/blob/main/Task44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

data = pd.DataFrame({'whoAmI':lst})

unique_values = data['whoAmI'].unique()

for value in unique_values:
    data[value] = 0

for index, row in data.iterrows():
    data.loc[index, row['whoAmI']] = 1

data.drop('whoAmI', axis=1, inplace=True)

print(data.head())

   robot  human
0      1      0
1      0      1
2      0      1
3      0      1
4      0      1